* {
  box-sizing: border-box;
}

body { 
  margin: 0px; 
  background-color: #f1f0e2; 
  color: #000;
  font-family: Arial, Verdana, sans-serif; 
}
a:link {
  text-decoration: none;
  color:#F1F0e2
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:#F1F0e2
}

a:active {
  text-decoration: none;
}
.nav::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  z-index: 0;
  background-image: url(logo-horizontal.png);
  background-repeat: no-repeat;
  max-width: 100%; 
  padding: 20px;
  height: 375px;
  background-size: contain;
  float:below;
}
.logo_contact{
  z-index: 0;
  background-image: url(logo-horizontal.png);
  background-repeat: no-repeat;
  max-width: 100%; 
  padding: 5px;
  height: 375px;
  background-size: contain;
}

.header {
  background-color: #bbaa91;
  color: #f1f0e2;
  padding: 15px;
}

.topnav {
  overflow: hidden;
  background-color: #a47864;
}

.topnav a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #bbaa91;
  color: #000000;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Welcome Messaging*/
#welcome{
  padding: 10px 30px 30px 40px;
  display: grid;
  place-items: center;
}

/*Mocha Mousse Blue*/
.blue-btn {
  color: #F1F0e2;
  text-decoration: none;
  display: grid;
  place-items: center;
  border-radius: 4px;
  background-color: #1c375F;
  border: none;
  text-align: center;
  padding: 15px 35px;
  color: #F1F0e2;
  font-size: 18px;
  min-width: 100px;
  float: left;
}

.btn-group button {
  display: grid;
  place-items: center;
  padding: 20px;
  border-radius: 4px;
  background-color: #1c375F;
  color: #F1F0e2;
  border: none;
  text-align: center;
  font-size: 18px;
  min-width: 150px;
  margin: 5px 5px 5px 5px;
  float: left;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
} 

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #a47864;
}

.blue-btn button:hover {
  background-color: #a47864;
}

.menu {
  property: text-align;
  padding: 20px;
}

.price {
  margin: 15px;
  padding: 10px;
  justify-content: right;
  font-size: 12pt;
}

#story{
  padding:20px 20px 20px 20px;
}
#beans{
  background-image: url(beans.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  position: relative;
  border-radius: 4px;
  padding: 20px;
  margin: 5px;
  text-align: center;
  min-height: 1300px;
  max-width: 100%;
}

#loaf{
  background-image: url(loaf.png);
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  text-align: center;
  max-width: 100%; 
  padding: 60px 20px 20px 20px;
  margin: 5px;
  height: 400px;
  background-size: contain;
  float: below;
}

#mocha{
  background-image: url(mocha2.png);
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  text-align: center;
  max-width: 100%; 
  padding: 10px 10px 10px 10px;
  margin: 5px;
  height: 350px;
  background-size: contain;
  float: below;
}

#cafe{
  background-image: url(cafe.png);
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  max-width: 100%; 
  padding: 40px 10px 20px 30px;
  text-align: center;
  min-height: 250px;
  max-width: 75%;
  background-size: contain;
  float: below;
}

#bake{
  background-image: url(bake.png);
  background-repeat: no-repeat;
  max-width: 100%; 
  padding: 20px;
  min-height: 250px;
  text-align: center;
  max-width: 75%;
  background-size: contain;
  float: below;
}

#lunch{
  background-image: url(lunch.png);
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  text-align: center;
  max-width: 100%; 
  padding: 10px 10px 10px 10px;
  margin: 5px;
  height: 350px;
  background-size: contain;
  float: below;
}

#shop{ 
  background-image: url(mocha_shop.jpg);
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  top: 10px; left: 10px; right: 10px;
  padding: -5px;
  min-height: 1300px;
  max-width: 100%;
}

#flyer{
  background-image: url(grandopening.png);
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  top: 10px; left: 10px; right: 10px;
  min-height: 800px;
  max-width: 100%;
  padding: 5px 20px 20px 20px;
  margin: 50px 50px 50px 50px;
}

#merlin{
  background-image: url(merlin.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 250px;
  max-width: auto;
  padding: 10px;
  border-radius: 4px 4px 4px 4px;
  max-width: auto;
  text-align: center;
}

#robyn{
  background-image: url(robyn.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 250px;
  border-radius: 4px;
  max-width: auto;
  padding: 10px;
  
  max-width: auto;
  text-align: center;
}

#sammy{
  background-image: url(sammy.JPG);
  background-size: contain;
  border-radius: 4px;;
  background-repeat: no-repeat;
  min-height: 250px;
  max-width: auto;
  padding: 10px;
 
  max-width: auto;
  text-align: center;
}

#matcha{
  background-image: url(matcha.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  position: relative;
  border-radius: 4px;
  padding: 20px;
  margin: 5px;
  text-align: center;
  min-height: 1300px;
  max-width: 100%;
}

/* Float two columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 1px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  padding: 2px;
  text-align: left;
  background-color: #bbaa91;
  font-size: 12px;
}

  .address {
    padding: 20px 20px 40px 20px;
  }

.google-map{
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top:0;
  position: absolute;
}

.tinylogo {
  background-image: url(logo-circle.png);
  background-repeat: no-repeat;
  max-width: 100%; 
  padding: 20px;
  height: 120px;
  background-size: contain;
  float:below;
}

/*For Menu*/
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("beans.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
/*For contact form*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #594642;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 10px 10px 10x 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #1c375F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #28436d;
}
.contact{
  padding: 5px 20px 20px 20px;
  margin: 50px;
}
.contactus{
  padding: 5px 20px 5px 20px;
  margin: 50px 50px 0px 50px;
}
.container {
  border-radius: 4px;
  background-color: #BFAC95;
  padding: 20px;
  margin: 50px;
}

.container2 {
  border-radius: 4px;
  background-color: #BFAC95;
  padding: 20px;
  margin: 20px 20px 20px 20px;
  text-align: left;
  max-height: 900px;
}
.container3 {
  border-radius: 4px;
  background-color: #BFAC95;
  padding: 20px;
  margin: 20px 20px 20px 20px;
  text-align: left;
  max-height: 250px;
}

#push{
  position:relative;
  margin: auto;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 3px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - 
when the screen is less than 600px wide, 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
